html,
body,
#app{
    height: 100%;
    min-width: 705px;
    padding: 0;
    margin: 0;
}
ul,
li{
    padding: 0;
    margin: 0;
    list-style: none;
}
input::-webkit-input-placeholder { /* WebKit browsers */
    color: #ffffff;
    font-size: 14px;
  }
input:hover::-webkit-input-placeholder{
    color: black;
    font-size: 14px;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ffffff;
    font-size: 14px;
  }
input:hover::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: black;
    font-size: 14px;
  }
  
input::-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ffffff;
    font-size: 14px;
  }  
input:hover::-ms-input-placeholder { /* Internet Explorer 10+ */
    color: black;
    font-size: 14px;
  }   