html,
body,
#app{
    height: 100%;
    /* min-width: 705px; */
    padding: 0;
    margin: 0;
}
body { font-family: "Arial", "Microsoft YaHei", "PingFangSC-Regular", "SimSun", "宋体"; }
ul,
li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.el-message{
min-width: 200px;
}
.el-input-group__prepend{
  width: 42px;
  text-align: center;
  padding: 0 10px;
}
.el-input__inner{
  height: 30px;
  line-height: 30px;
  border: none;
  border-bottom: 1px solid #DCDFE6;;
}
.el-dialog{
  width: 50%;
  min-width:300px;
  height: 70%;
  border-radius: 5px;
  overflow-y: scroll;
  scrollbar-width: none;  
  -ms-overflow-style: none;
}
.el-dialog::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
  border-radius: 5px;
}
.el-dialog::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2); 
  /* 滚动条的颜色 */
  background-color: #e4e4e4; 
 }
 .el-dialog__footer{
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: #fff;
 }
/* 图片加载失败 */
.image-slot{
  font-size: 30px;
  text-align: center;
    width: 135px;
    height: 90px;
    line-height: 90px;
    background: #f5f7fa;
    color: #909399;
}
.el-card__body{
  height: 88px;
}
.copyright .el-card__body{
  height: auto;
}
/* .el-dialog__footer {
  position: absolute;
  bottom: 0;
  right: 0;
} */
a:link{
  text-decoration:none;
   /* 指正常的未被访问过的链接*/
}
a:visited{
  text-decoration:none;
   /*指已经访问过的链接*/
}a:hover{
   text-decoration:none;
   /*指鼠标在链接*/
}
a:active{
  text-decoration:none;
  /* 指正在点的链接*/
}
input::-webkit-input-placeholder { /* WebKit browsers */
    color: #ffffff;
    font-size: 14px;
  }
input:hover::-webkit-input-placeholder{
    color: black;
    font-size: 14px;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ffffff;
    font-size: 14px;
  }
input:hover::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: black;
    font-size: 14px;
  }
  
input::-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ffffff;
    font-size: 14px;
  }  
input:hover::-ms-input-placeholder { /* Internet Explorer 10+ */
    color: black;
    font-size: 14px;
  }
/* IE11 禁用清除按钮（叉号） */
input::-ms-clear{display:none;}
/* IE11 禁用显示密码按钮（小眼睛） */
input::-ms-reveal{display:none;}